#data_area {
	width: 70%;
	height: 90%;
	margin: 2%;
	background-color: hsla(187, 100%, 81%, 1);
}

#status_container {
	width: 25%;
	height: 80%;
	position: absolute;
	top: 4%;
	right: 1%;
	background-color: hsla(88, 100%, 81%, 1);
}

#brush_container {
	margin: 0;
	background-color: hsla(0, 100%, 81%, 1);
}