#header{
	position: absolute;
	width: 1336px;
	height: 100px;
	//background-color: #fafafa;
	//background-color:#d8e5f2;
	background-color:#f5f5f5;
	color: #454545;
	text-align: center;
	margin-top:-1px;
	//margin-left: 50%;
	//margin-right: -50%;
	//transform: translate(-50%, 0%) 	
}

.gradient{
    //background:-webkit-gradient(linear, 0 0, 0 bottom, from(#d8e5f2), to(rgb(239, 246, 252)));  
	//background:-webkit-gradient(linear, 0 0, 0 bottom, from(#eff6fc), to(rgb(216, 229, 242)));  
	
}
.footer_g{
	//background:-webkit-gradient(linear, 0 0, 0 bottom, from(#eff6fc), to(rgb(216, 229, 242)));
}
body {
	//background-color: #edebd6;
	//background-color:#f5f5f5;
	//background-color:#eef3fa;
	background-color:#c9c9c9;
	//font-family: Arial, Helvetica, sans-serif;
	font-family: monospace;
	color: #454545;
}
table {
	border-collapse: collapse;
	overflow-y: scroll;
}
table, td, th {
	border: 1px solid #A1A7B2;
	font-style: bold;
}

#footer {
	position: absolute;
	margin-top: 80px;
	text-align: center;
	width: 1336px;
	height: 100px;
	//background-color: #fafafa;
	background-color:#f5f5f5;
	color: #5c5c5c;
	margin-left:-420px;

}


#content{
	background-color: #ffffff;
	position: absolute;
	width: 1336px;
	height: 2512px;
	//margin:0 auto 0 auto;
	//padding: 40px 0px 40px 0px;

	//margin-top: 100;
	//top:50%;
	//margin-left: 50%;
	//margin-right: -50%;
	//transform: translate(-50%, -50%) 
}
#instructions{
	position: absolute;
	margin-left: 610px;
	margin-top: -35px;
	//width: 100px;
	//height: 30px;
}
#SVG {
	position: absolute;
	margin-left: 30px;
	margin-top: 140px;	
	width: 55%;

}
#barchart {
	margin-left: 10px;
}

#x_label{
	position: absolute;
	margin-left: 240px;
	margin-top: 415px;
}
#y_label{
	transform: rotate(270deg);
	transform-origin: left top 0;
	position: absolute;
	margin-left: -25px;
	margin-top: 300px;
}
#control {
	position: absolute;
	margin-left: 40px;
	margin-top: 720px;
}
#file {
	//position: absolute;
	//margin-top: -5px;
	margin-left: 10px;
}

#upload{
	position: absolute;
	margin-left: 40px;
	margin-top: 752px;
}

#fasta_select{
	
	position: absolute;
	margin-left: 172px;
	margin-top: -17px;
}
#submit{
	position: absolute;
	margin-left: 420px;
	margin-top: 752px;
	clear:both;
}

#details {
	position: absolute;
	top: 140px;
	right: 0px;
	//left: 670;
	left: 57%;
	padding-left:0px;
	//padding-right: 10px;
	//background-color: #edebd6;
	width: 40%;
}


#tooltip {
    position: absolute;
	right: 100%;
	top: 100%;
	width: 86;
	height: 18;
	//background-color: red;
    //right: 1px;
}
#time_line {
	margin-left: 0px;
	//margin-top:22px;
	font-size: 8px;
	font-color: black;
	text-align: center;
}


#slider {
	margin-left: 120px;
	margin-top:-28px;
	margin-bottom: 0px;
	width:50%;
        font-size: 8px;
}

#description{
	position:absolute;
	margin-left:-400px;
	margin-top: 200px;
}
#summary_image{
	

	
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.highlight_border {
    border: solid 2px black;
}

.more-common {
    background-color: #9BE1FB;
}

.less-common {
    background-color: #ff9933;
	background-color: #ffa500;
}

.noise {
    background-color: #bbd984;
}
.scrollit {
	margin-top:22px;
	overflow-y: auto;
    height:500px;
}
.nowrap_right {
	position:absolute;
	/*margin-right:2%;
	margin-top:5%;*/
}

#legend {
	position: absolute;
	top: 2%;
	right: 2%;
}
