#SVG {
	width: 960px;
	height: 500px;
}

#details {
	position: absolute;
	top: 0;
	right: 0;
	left: 970;
	background-color: rgb(100,100,100);
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}